/* Tablets */

@media only screen and (min-width: 798px) and (max-width: 989px) {
  .intro-grupos ul li {
    font-size: 28px;
  }

  .footer ul li {
    width: 50px;
  }

  .redes h2 {
    margin: 40px 0 10px 0;
    padding-left: 50px;
  }

  .reavaliação {
    margin-bottom: 20px;
  }

  .aliment-text p,
  .herb-text p {
    font-size: 16px;
  }

  .aliment-text,
  .herb-text {
    height: 349px;
  }
}

/* Smartphone */

@media only screen and (max-width: 797px) {
  img {
    text-align: center;
  }

  h2 {
    margin: 30px auto 20px;
    padding: 0;
  }

  p {
    font-size: 18px;
  }

  /* Index */

  .header {
    position: relative;
    width: 100%;
    height: 356px;
  }

  .logo {
    max-width: 100%;
    position: relative;
    display: block;
    padding: 0;
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
    margin: 0;
  }

  .header_menu ul {
    padding: 0;
  }

  .header_menu ul li {
    padding: 0;
  }

  .header_menu ul li a {
    border: 4px solid #b6f830;
    width: 170px;
    display: block;
    float: center;
    margin-bottom: 10px;
    padding: 5px 0;
  }

  .header_menu ul li a:hover {
    border-color: #2c1243;
  }

  .intro,
  .intro-2 {
    margin: 0 auto;
    text-align: center;
  }

  .intro h1 {
    padding-top: 80px;
    font-size: 42px;
    line-height: 46px;
  }

  .intro p {
    padding: 20px 0 84px;
    font-size: 16px;
    line-height: 24px;
  }

  .intro-surg {
    margin: 0 auto;
    padding: 0;
  }

  .intro-surg h2 {
    margin: 30px auto 20px;
  }

  .intro-aliment img {
    margin: 0;
  }

  .intro-grupos img {
    margin: 0;
  }

  .intro-grupos ul li {
    font-size: 24px;
    margin: 5px;
  }

  .intro-extincao ul {
    margin: 0;
  }

  .intro-extincao ul li {
    display: none;
  }

  .intro-extincao ul li:nth-child(1) {
    display: inline-block;
  }

  .footer {
    padding-bottom: 20px;
  }

  .copy p {
		padding-bottom: 0px;
    font-size: 12px;
  }

  .redes {
    padding-left: 0px;
  }

  .redes ul li {
    width: 50px;
    text-align: left;
    margin: 0 20px 0 0;
    padding: 0;
  }

  .redes ul {
    margin: 0;
    padding: 0;
  }

  .redes h2 {
    padding: 0;
    text-align: left;
  }

  /* Foram */

  .intro-2 h1 {
    padding-top: 80px;
    font-size: 42px;
    line-height: 46px;
  }

  .foram {
    text-indent: 0em;
  }

  /* Alimentação */

  .aliment-text,
  .herb-text {
    height: 460px;
  }
}
