@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/* Estilos Gerais */

body {
  font-family: 'Comic Neue', cursive;
}

h1 {
  color: #B6F830;
  font-weight: bolder;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 46px;
  line-height: 20px;
  padding-top: 150px;
}

.btn {
  border: 4px #B6F830 solid;
  padding: 9px 30px;
  color: #B6F830;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  border-radius: 0.5em;
}

.btn:hover {
  border: #fff solid;
  color: #fff;
}

.btn-roxo {
  color: #2C1243;
  border: 4px #2C1243 solid;
}

.btn-roxo:hover {
  color: #B6F830;
  border: 4px #B6F830 solid;
}

.btn-branco {
  color: #2C1243;
  border: 4px #2C1243 solid;
}

.btn-branco:hover {
  color: #fff;
  border: 4px #fff solid;
}

h2 {
  color: #2C1243;
  font-size: 24px;
  font-weight: bolder;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
  letter-spacing: 0.05em;
}

p {
  color: #2C1243;
  font-size: 20px;
  line-height: 30px;
  text-indent: 3em;
}

.call {
  margin: 40px 0;
  text-align: center;
 }


 img {
   border-radius: 0.5em;
   width: 100%;
 }

/* Header */

.header {
  width: 100%;
  height: 110px;
  background-color: #7202e6;
  position: fixed;
  top: 0;  
  z-index: 10;
}

.logo {
  position: absolute;
  width: auto;
  margin: 0 auto;
  z-index: 9;
}

.header_menu {
  text-align: right;
  position: absolute;
  margin-top: 88px;
  display: inline-block;
}

.header_menu ul {
  padding-left: 20px;
}

.header_menu ul li {
  display: inline-block;
  padding-left: 15px;
}

.header_menu ul li a {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B6F830;
}

.header_menu ul li a:hover {
  color: #2C1243;
}

.intro-2 {
  width: 100%;
  height: 260px;
  margin-top: 110px;
  background-image: url('../img/bg-intro.jpg');
  text-align: center;
}

.header_menu ul li a.menu_ativo {
  color: #2C1243;
  border-color: #2C1243;
}

/* Intro Background */

.intro {
  width: 100%;
  height: 400px;
  margin-top: 110px;
  background: url("../img/bg-intro.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}



.intro p {
  color: #B6F830;
  font-weight: bolder;
  letter-spacing: 0.05em;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0px 78px ;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

/* Intro Surgiram */

.intro-surg {
  text-align: center;
}

.intro-surg h2 {
  margin: 40px;
}

.intro-surg p {
  text-align: left;
}

/* Intro Alimentavam */

.intro-aliment {
  background-color: #B6F830;
  text-align: center;
}

.intro-aliment p {
  margin-top: 40px;
  text-align: left;
  text-indent: 3em;
}

/* Intro Grupos */

.intro-grupos {
  text-align: center;
}

.intro-grupos ul {
  list-style: square;
  list-style-position: inside;
  color: #2C1243;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
}

/* Intro Extinção */

.intro-extincao {
  background-color: #B6F830;
  text-align: center;
}

.intro-extincao p {
  margin-top: 40px;
  text-align: left;
}

/* Footer */

.footer {
  background-color: #2C1243;
  padding-bottom: 40px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
  margin: 40px 0 10px 0;
  color: #B6F830;
}

.footer h2 {
  color: #B6F830;
  text-align: left;
  margin: 8px 0;
}

.footer p {
  color: #B6F830;
  font-size: 16px;
  text-indent: 0em;
}

.redes {
  text-align: right;
}
.redes h2 {
  margin: 40px 0 10px 0;
  padding-left: 92px;
}

.redes ul li{
  display: inline-block;
  text-align: right;
  margin-left: 20px;
}

.copy {
  background-color: #7202e6;
  padding: 10px;
}

.copy p {
  font-size: 12px;
  text-transform: uppercase;
  color: #B6F830;
  text-indent: 0;
}

/* Javascript */

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0,-20px,0);
}

.fadeInRight {
  transform: translate3d(20px,0,0);
}

.fadeInLeft {
  transform: translate3d(-20px,0,0);
}

.fadeInUp {
  transform: translate3d(0,20px,0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform .8s, opacity .8s;
}